body {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Calibri, Arial, sans-serif;
    width: 100vw;
    height: 200vh;
    text-align: center;
}

.darkBkgd b {
    -webkit-text-stroke: 1px white;
}

h1 {
    font-size: 80px;
    text-align: center;
}

h2 {
    font-size: 60px;
    text-align: center;
}

h3 {
    font-size: 40px;
    text-align: center;
}

a {
    color: #4361EE
}

p1 {
    display: block;
    font-size: 30px;
    text-align: center;
    line-height: 2;
}

p2 {
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
}

p3 {
    font-size: 24px;
    font-weight: bold;
}

p4 {
    font-size: 20px;
    line-height: 1.75;
}

p, a {
    font-size: 25px;
    line-height: 1.5;
}

b {
    color: #7209B7;
}

h3.sentenceSections {
    width: 80%;
    margin: 75px auto;
    text-align: center;
}

section div {
    display: flex;
    width: 80%;
    align-items: center;
    margin: 0px auto;
}

iframe {
    margin: 50px;
}

section.lightBlueBkgd {
    background-image: linear-gradient(to bottom right, #4CC9F0, #4895EF, #4361EE);
    color: white;
}

section.lightPinkBkgd {
    background-image: linear-gradient(to bottom right, #ff96c6, #ff54a1);
    color: white;
}

div.titleColumns {
    display: flex;
    width: 100%;
    z-index: 0;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

div.titleColumns img.icon {
    padding: 20px 20px 20px 120px;
}

.fandangoTxt h2,  .fandangoTxt b{
    color: #B5179E;
}

.neonBlueTxt h2, .neonBlueTxt b{
    color: #4361EE;
}

.roseTxt h2, .roseTxt b{
    color: #F72585;
}

div.titleColumns h2 {
    letter-spacing: 7px;
    padding: 20px 20px 20px 20px;
}

div.titleColumns p2 {
    padding: 20px 120px 20px 20px;
}

header {
    padding: 100px 100px 10px 100px;
    text-align: center;
    z-index: 0;
}

header > * {
    padding: 10px;
    margin: 0px;
}

header.homeHeader {
    padding: 35vh 100px 65vh 100px;
    color: white;
}

div.homeHeader {
    position: absolute;
    top: 0;
    height: 200vh;
    width: inherit;
    background-image: linear-gradient(to bottom right, #F72585, #7209B7, #4361EE, #4CC9F0);
    z-index: -1;
}

div.textColumns {
    align-items: flex-start;
}

div.leftAlign, div.rightAlign {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

div.leftAlign > *, div.rightAlign > * {
    margin: 0px;
    padding: 10px;
    width: 100%;
}

div.leftAlign > * {
    text-align: right;
}

div.rightAlign > * {
    text-align: left;
}

header.titleHeader {
    padding: 25vh 100px 25vh 100px;
    color: white;
}

div.titleHeader {
    position: absolute;
    top: 0;
    height: 100vh;
    width: inherit;
    background-image: linear-gradient(to bottom right, #F72585, #7209B7, #4361EE, #4CC9F0);
    z-index: -1;
}

header.jobHeader {
    padding: 15vh 100px 15vh 100px;
    color: white;
}

div.jobHeader {
    position: absolute;
    top: 0;
    height: 60vh;
    width: inherit;
    background-image: linear-gradient(to bottom right, #F72585, #7209B7, #4361EE, #4CC9F0);
    z-index: -1;
}

section {
    padding: 20px;
    z-index: 0;
    background-color: white;
}

nav {
    position: sticky;
    top: 0;
    padding: 0px;
    margin: 0px;
    background-color: #3A0CA3;
    display: flex;
    align-items: center;
    z-index: 1;
}

nav > * {
    padding: 0px;
    margin: 0px;
}

nav a {
    text-decoration: none;
    padding: 26px;
    font-size: 18px;
    color: white;
    background-color: #3A0CA3;
    transition: all 0.25s ease;
}

nav a:hover {
    color: #3A0CA3;
    background-color: white;
    transition: all 0.25s ease;
}

img.logo {
    height: 50px;
    width: auto;
    padding: 10px 10px 10px 20px;
}

a.logo {
    padding: 0px;
}

a.logo:hover {
    color: white;
    background-color: #3A0CA3;
}

img {
    display: block;
    margin: 0px auto;
}

img.icon {
    height: 100px;
    width: auto;
    padding: 20px;
}

img.symbol {
    height: 150px;
    width: auto;
    padding: 20px;
}

ul, ol {
    font-size: 25px;
    text-align: left;
    margin: 0px auto;
    width: 60%;
}

li {
    margin: 0px auto;
    padding: 10px;
    font-size: 24px;
    line-height: 1.5;
}

div.job {
    display: flex;
    flex-direction: column;
    color: black;
    width: 50%;
    padding: 30px;
    border: 1px solid white;
    border-radius: 50px;
    box-shadow: 0px 5px 5px 5px grey;
    transition: all 0.25s ease;
    margin: 50px auto;
}

div.job:hover {
    box-shadow: 0px 10px 10px 10px grey;
    color: #3F37C9;
    transition: all 0.25s ease;
}

div.job > * {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: left;
}

div.jobTitle {
    display: flex;
    justify-content: space-between;
}

div.job p.hiringTag {
    background-color: #4361EE;
    padding: 10px 15px;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

div.job p.filledTag {
    background-color: #F72585;
    padding: 10px 15px;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

div.filledTag:hover {
    cursor: not-allowed;
    box-shadow: 0px 5px 5px 5px grey;
    color: grey;
    transition: all 0.25s ease;
}

div.jobNav {
    display: flex;
    justify-content: center;
}

div.jobNav > * {
    padding: 10px 40px;
    color: #3F37C9;
}

div.jobNav p2 {
    font-size: 22px;
    background-color: white;
    transition: all 0.25s ease;
}

hr {
    margin: 0px auto;
    width: 90%;
    height: 1px;
    background-color: #3F37C9;
    border: 1px solid #3F37C9;
    border-radius: 25%;
}

div.jobNav p2.selected {
    background: #3F37C9;
    color: white;
    transition: all 0.25s ease;
}

div.sideImg img {
    width: 40%;
    height: auto;
    padding: 20px 100px;
}

div.sideImg img.smaller {
    height: 350px;
    width: auto;
}

div.sideImg ul {
    width: 50%;
    margin: 0px auto;
    text-align: left;
}

div.jobNav p2:hover {
    cursor: pointer;
    background-color: #F72585;
    transition: all 0.25s ease;
}